.main-header {
    background: url(img/BG.png);
    background-size: cover;
    background-position: center;
    min-height: 750px;
    color: #fff;
  }
  
  .main-header .showcase {
    padding-top: 100px;
  }

  #pfield, #ufield, .card-panel {
    border-radius: 20px;

  }

  #vertical-nav {
      border-radius: 20px 0px 0px 20px;
      margin-bottom: 5px;
  }

  .login {
    margin-bottom: 80px; 
    margin-top: 80px;

  }

  #small-card{
    border-radius: 0px 20px 20px 0px;

  }

  .flex-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    
  }

  



  .btn-extended {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    box-shadow: grey;
    border-radius: 20px;

}

#forgot{
  margin-top: 15px;
  margin-bottom: 15px;
  display: block; 
}